<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taco Cloud</title>
    <link href="../static/styles.css" rel="stylesheet" th:href="@{/styles.css}"/>
</head>

<body>

<!--    It’s also worth noting that the complete template includes the Taco Cloud logo
        image and a <link> reference to a stylesheet.2 In both cases, Thymeleaf’s @{} operator
        is used to produce a context-relative path to the static artifacts that these tags are referencing.

        As you learned in chapter 1, static content in a Spring Boot application is
        served from the /static directory at the root of the classpath.
-->

<h1>Design your taco!</h1>
<img src="../static/images/TacoCloud.png" th:src="@{/images/TacoCloud.png}"//>


<!--    Thymeleaf templates are just HTML with some additional element attributes that
        guide a template in rendering request data. For example, if there were a request attribute
        whose key is "message", and you wanted it to be rendered into an HTML <p> tag
        by Thymeleaf, you’d write the following in your Thymeleaf template:

        <p th:text="${message}">placeholder message</p>

        When the template is rendered into HTML, the body of the <p> element will be
        replaced with the value of the servlet request attribute whose key is "message". The
        th:text attribute is a Thymeleaf namespace attribute that performs the replacement.

        The ${} operator tells it to use the value of a request attribute ("message", in
        this case).
-->

<!--    If you take another look at the <form> tag in your view, you can see that its method
        attribute is set to POST. Moreover, the <form> doesn’t declare an action attribute. This
        means that when the form is submitted, the browser will gather all the data in the
        form and send it to the server in an HTTP POST request to the same path for which a
        GET request displayed the form—the /design path.
-->

<!-- <form method="POST"> -->
<form method="POST" th:object="${taco}">

    <!-- Thymeleaf offers convenient access to the Errors object via the fields property and
        with its th:errors attribute. -->

    <!-- the <span> element uses a th:if attribute to decide whether to display
        the <span>. The fields property’s hasErrors() method checks whether there
        are any errors in the ccNumber field. If so, the <span> will be rendered. -->

    <!-- The th:errors attribute references the ccNumber field and, assuming errors exist
        for that field, it will replace the placeholder content of the <span> element with the
        validation message.-->
    <span class="validationError" th:errors="*{ingredients}" th:if="${#fields.hasErrors('ingredients')}">Ingredients Error</span>
    <br/>

    <!-- grid -->
    <div class="grid">

        <h2>Choose your Ingredients:</h2>

        <div class="ingredient-group" id="wraps">

            <h3>Designate your wrap:</h3>

            <div th:each="ingredient : ${WRAP}">

                <!-- <input name="ingredients" type="checkbox" value="FLTO" /> -->
                <!-- <span>Flour Tortilla</span><br/> -->

                <input th:field="*{ingredients}" th:value="${ingredient.id}"
                       type="checkbox"/>
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>

        </div>

        <div class="ingredient-group" id="proteins">

            <h3>Pick your protein:</h3>

            <div th:each="ingredient : ${PROTEIN}">
                <input th:field="*{ingredients}" th:value="${ingredient.id}"
                       type="checkbox"/>
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>

        <div class="ingredient-group" id="cheeses">

            <h3>Choose your cheese:</h3>

            <div th:each="ingredient : ${CHEESE}">
                <input th:field="*{ingredients}" th:value="${ingredient.id}"
                       type="checkbox"/>
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>

        <div class="ingredient-group" id="veggies">

            <h3>Determine your veggies:</h3>

            <div th:each="ingredient : ${VEGGIES}">
                <input th:field="*{ingredients}" th:value="${ingredient.id}"
                       type="checkbox"/>
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>

        <div class="ingredient-group" id="sauces">

            <h3>Select your sauce:</h3>

            <div th:each="ingredient : ${SAUCE}">
                <input th:field="*{ingredients}" th:value="${ingredient.id}"
                       type="checkbox"/>
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>
    </div>


    <div>
        <h2>Name your taco creation:</h2>

        <!-- <input name="name" type="text" /> -->
        <input th:field="*{name}" type="text"/>

        <span class="validationError" th:errors="*{name}" th:if="${#fields.hasErrors('name')}">Name Error</span>
        <br/>
    </div>

    <div>
        <button>Submit Your Taco</button>
    </div>


</form>


</body>
</html>

