<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}" href="../static/styles.css"/>
</head>

<body>

<h1>Welcome to...</h1>


<!-- It uses a Thymeleaf th:src attribute and an @{…} expression to reference the image with a context-relative
path.-->

<img th:src="@{/images/TacoCloud.png}" src="../static/images/TacoCloud.png"/>

<div>
    <a href="#" th:href="@{/design}" id="design">Design a new taco!</a>
</div>

</body>
</html>