<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}" href="..\static\styles.css">
</head>

<body>


<h1>Your Orders</h1>
<img src="..\static\images\TacoCloud.png"
     th:src="@{/images/TacoCloud.png}"/>

<ul>
    <li th:each="order : ${orders}">

        <span th:text="${order.placedAt}">ORDER placedAt</span> -
        <span th:text="${order.deliveryName}">ORDER deliveryName</span>

        <ul>
            <li th:each="taco : ${order.tacos}">

                <span th:text="${taco.name}">TACO name</span> :

                <span th:each="ingredient : ${taco.ingredients}">
                    <span th:text="${ingredient.name}"> INGREDIENT name </span>,
                </span>

            </li>
        </ul>

    </li>

</ul>

</body>
</html>